---
apiVersion: batch/v1
kind: Job
metadata:
  name: bandr-one-time-backup
  namespace: {{ backup_namespace }}
spec:
  # Clean-up completed (or failed) Jobs
  # after 5 minutes...
  ttlSecondsAfterFinished: 300

  template:
    metadata:
      labels:
        name: bandr-one-time-backup
    spec:
      serviceAccountName: {{ backup_namespace_sa }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: {{ backup_node_label }}
                operator: Exists

      containers:
      - image: informaticsmatters/sql-backup:{{ backup_image_tag }}
        name: bandr-one-time-backup
{% if backup_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          limits:
            cpu: 1000m
            memory: 2Gi
          requests:
            cpu: 100m
            memory: 128Mi
        env:
        - name: BACKUP_TYPE
          value: hourly
        - name: BACKUP_COUNT
          value: '2'
        - name: PGHOST
          value: '{{ backup_database_host }}'
        - name: PGUSER
          value: '{{ backup_database_user }}'
        - name: PGADMINPASS
          value: '{{ backup_database_user_password }}'
        volumeMounts:
        - name: destination
          mountPath: /backup

      volumes:
      - name: destination
        persistentVolumeClaim:
          claimName: {{ backup_volume_pvc }}

      restartPolicy: Never
  backoffLimit: 1
